@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: mono --default;
}
@plugin "daisyui/theme" {
	name: "mono";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(100% 0 0);
	--color-base-300: oklch(89% 0 0);
	--color-base-content: oklch(0% 0 0);
	--color-primary: oklch(0% 0 0);
	--color-primary-content: oklch(97% 0.014 343.198);
	--color-secondary: oklch(0% 0 0);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(0% 0 0);
	--color-accent-content: oklch(98% 0.026 102.212);
	--color-neutral: oklch(0% 0 0);
	--color-neutral-content: oklch(97% 0.014 308.299);
	--color-info: oklch(0% 0 0);
	--color-info-content: oklch(98% 0.019 200.873);
	--color-success: oklch(0% 0 0);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: oklch(0% 0 0);
	--color-warning-content: oklch(98% 0.026 102.212);
	--color-error: oklch(0% 0 0);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.3125rem;
	--size-field: 0.3125rem;
	--border: 0.5px;
	--depth: 0;
	--noise: 0;
}
